/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*0a3931 -green
e4e0c5 -tan
e4b661 - gold*/

body{
  font-family:'Source Sans Pro', sans-serif;
  background: #e4e0c5;
}

header{
	background-color: red;
}

nav{
  float: right;
  margin: 35px 0 35px 0;
}

header li{
  display: inline-block;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 300;
}

.hero {
    background-color: e4e0c5;
    background-image: url('/images/6026.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
}

.hero-block {
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    width: 333px;
    float: right;
    padding: 30px;
    box-shadow: 0 0 3px #333;
}

footer{
  background-color: #0a3931;
}
 /*
.centersection{
	width: 980px;
	margin: 0 auto;
	color: #033048;
	padding: 0 0 30px 0;
}

.centersection p{
	color: #606161;
	text-align: justify;
	font-size: 18px;
	font-weight: 300;
}

header .logo{
  font-size: 50px;
  color: white;
  float: left;
  font-weight: 800;
}

nav{
	float: right;
	margin: 35px 0 35px 0;
}

header li{
	display: inline-block;
	margin-left: 40px;
	font-size: 24px;
	font-weight: 300;
}

nav a{
	color: #f9e428;
	text-decoration: none;
	-webkit-transition: all 300ms;
}

a{
	text-decoration: none;
	-webkit-transition: all 300ms;
}

h1{
	font-size: 32px;
	font-weight: 400;
}

a:hover{
	font-weight: 800;
}

.leftside{
	display: inline-block;
	width: 70%;
	padding-right: 30px;
}

aside{
	display: inline-block;
	float: right;
	width: 30%;
}

article{
	display: inline-block;
	border-bottom: 1px solid #043049; 
	padding-bottom: 30px;
}

article p:first-letter{
	font-size: 6em;
	float:left;
	line-height: 1;
	margin-right: 3px;
	margin-top: -10px;
	color: #606161;
}

article img {
  width:  650px;
  height: auto;
}

article .more{
	float:right;
	color: #033048;
}

ul {
    padding: 0;
    list-style-type: none;
}

.categories li a{
	color:#606161;
	font-size: 18px;
}

.more{
	color: #033048;
	font-weight: 600;
}

.rightrail img{
	padding-top: 40px;
}


.yellowsection{
  background-color: #f9e42e;
  padding:30px;
  text-align: center;
}

.signupbutton{
  background-color: #033048;
  color:white;
  font-size: 24px;
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width:280px;
  text-align: center;
  display: block; 
  margin: 0 auto;
}


.pageFooter {
  background-color: #121212;
  color: white;
  display: block;
  text-align: center;
  padding: 65px 0 45px 0;
  font-size: 18px;
  font-weight: 600;
}

.pageFooter .logo{
  display: block;
  color:#f9e42e;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 67px;
}

.pageFooter a{
  color:white;
  font-size: 46px;
}

.pageFooter ul{
  padding: 0;
}

.pageFooter ul li{
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px 26px;
}
*/

